.ChampionSelector {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    min-height: 100vh;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 20px;
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #C17A0E;
  }
  span {
    padding-top: 5px;
    text-align: center;
  }
}